.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-height: 100vh;
    overflow-y: auto;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    align-items: center;
}

.loading, .error {
    text-align: center;
    padding: 10px;
    font-size: 18px;
}