.taskContent {
    display: flex;
    flex-direction: row;
}

.taskInfo {
    display: flex;
    flex-direction: row;
}

.taskWrapper {}

.createTaskButton {
    margin: 10px 10px 0 10px;
}

.taskCardsWrapper {
    display: flex;
    flex-direction: column;
    max-height: 100vh;
    overflow-y: auto;
    padding: 0 8px 0 10px;
    margin: 10px 0 0 0;
    gap: 10px;
}

.taskCards {

}

.taskPage {

}

.loading, .error {
    text-align: center;
    padding: 10px;
    font-size: 18px;
}