.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    max-height: 100vh;
    overflow-y: auto;
    min-width: max-content;
}

.loading, .error {
    text-align: center;
    padding: 10px;
    font-size: 18px;
}