.taskInfo {
    display: flex;
    flex-direction: row;
}

.createTaskButton {
    margin: 10px 10px 0 10px;
}

.taskCardsWrapper {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 62px);;
    overflow-y: auto;
    padding: 0 10px 0 10px;
    margin: 10px 0 0 0;
    gap: 10px;
}

.taskPage {
    margin: 10px 10px 0 10px;
}

.taskPageNoData {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(100vw - 600px);
    height: calc(100vh - 20px);
}