.registerContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #fafafa;
    padding: 40px 20px;
}

.registerLogo {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 20px;
    text-align: center;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.registerText {
    font-size: 16px;
    font-weight: 200;
    color: #444;
    margin-top: 8px;
}