.wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 86px 0 64px;
    width: 1350px;
}

.taskTitle {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 590;
    letter-spacing: 0;
    width: 934px;
}

.taskDescriptionTitle {
    display: flex;
    flex-direction: row;
    color: rgba(140, 140, 140, 1);
}

.taskDescriptionTitleText {
    padding: 1px 0 1px 8px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
}

.taskDescriptionText {
    max-width: 640px;
    padding: 8px 0 0 3px;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
}