.wrapper {
    display: flex;
    flex-direction: column;
    padding: 24px 86px 0 64px;
    max-width: 1200px;
    border-radius: 16px;
    background-color: #f1f1f1;
}

.breadcrumbTaskText {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: rgba(42, 114, 248, 0.88);
}

.taskDescriptionInfo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.taskTitleText {
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 590;
    font-size: 36px;
    line-height: 36px;
    letter-spacing: 0;
    margin: 8px 0 0 0;
    color: rgba(8, 8, 8, 0.96);
}

.taskDropDown {
    margin: 8px 0 0 92px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.taskDropDownMenu {

}

.taskEdit {
    margin: 0 0 0 16px;
    color: rgba(42, 114, 248, 1);
}

.taskStatus {
    display: flex;
    flex-direction: row;
    margin: 28px 0 0 0;
    color: rgba(140, 140, 140, 1);
}

.taskStatusText {
    margin: 1px 0 1px 8px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
}

.taskStatusTextDynamic {
    margin: 0 0 0 8px;
}

.taskAssignee {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
    color: rgba(140, 140, 140, 1);
}

.taskAssigneeText {
    margin: 1px 0 1px 8px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
}

.taskAssigneeTextDynamic {
    margin: 1px 0 1px 8px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: rgba(42, 114, 248, 1);
}

.taskCreator {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
    color: rgba(140, 140, 140, 1);
}

.taskCreatorText {
    margin: 1px 0 1px 8px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
}

.taskCreatorTextDynamic {
    margin: 1px 0 1px 8px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: rgba(42, 114, 248, 1);
}

.taskCreated {
    display: flex;
    flex-direction: row;
    margin: 10px 0 0 0;
    color: rgba(140, 140, 140, 1);
}

.taskCreatedText {
    margin: 1px 0 1px 8px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
}

.taskCreatedTextDynamic {
    margin: 1px 0 1px 8px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
    color: rgba(42, 114, 248, 1);
}

.taskDescriptionTitle {
    display: flex;
    flex-direction: row;
    color: rgba(140, 140, 140, 1);
    margin: 42px 0 0 0;
}

.taskDescriptionTitleText {
    padding: 1px 0 1px 8px;
    font-family: 'SF Pro Display', sans-serif;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0;
}

.taskDescriptionText {
    padding: 8px 0 0 0;
    font-family: 'SF Pro Display', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.75);
    max-width: 640px;
}