.container {
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    width: 180px;
    background: #ffffff;
}

.data {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.title {
    padding: 10px;
    font-size: 20px;
    background: #2A72F8 !important;
}

.titles {
    padding-left: 10px;
}

.data:hover {
    background: #EDEDED;
}

.data:active {
    transform: scale(0.95);
}