.projectsScreen {
    display: flex;
    flex-direction: row;
}

.projectsContainerWrapper {
    display: flex;
    flex-direction: column;
    max-height: calc(100vh - 20px);
    font-family: 'SF Pro Display', sans-serif;
    margin: 41px 128px 0 28px;
}

.projectsTitleRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 36px;
    width: 1121px;
}

.projectsTitle {
    font-weight: 590;
    font-size: 32px;
    line-height: 36px;
    font-style: normal;
}

.createButtonContent {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 163px;
    height: 32px;
    border-radius: 6px;
    border: 1px solid;
    padding: 15px;
    background-color: #1677FF;
    cursor: pointer;
}

.projectsCreateButtonIcon {
    background-image: url("../../assets/images/ProjectsScreen/comment-add.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 16px;
    height: 16px;
    display: inline-block;
}

.projectsCreateButtonText {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #FFFFFF;
}

.projectsDescription {
    margin-top: 16px;
    font-weight: 400;
    font-style: normal;
    font-size: 14px;
    line-height: 22px;
}

.projectsItems {
    margin-top: 22px;
    display: flex;
    flex-direction: column;
    gap: 18px;
    height: calc(100vh - 240px);
    overflow-y: auto;
    overflow-x: hidden;
}

.projectItem {
    width: 554px;
    height: 171px;
    border-radius: 16px;
    border: 1px solid #C4D2E5;
}

.projectItem:hover {
    border: 1px solid #1677FF;
}

.projectContainer {
    padding: 12px;
}

.projectElements {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.projectLogoRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    max-height: 37px;
}

.projectDropdownButton {
    cursor: pointer;
}

.projectTitle {
    font-size: 18px;
    font-weight: 510;
    line-height: 14px;
    font-style: normal;
}

.projectCollaboratorsContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.projectAssigneeUsers {
    display: flex;
    gap: 5px;
}

.projectUserOutlined,
.projectGithubOutlined,
.projectDropdownButton {
    color: rgba(0, 0, 0, 0.45);
}

.projectAssigneeUser:first-child,
.projectLink {
    margin-left: 8px;
}

.projectAssigneeUser:not(:last-child)::after {
    content: ',';
}

.projectAssigneeUser,
.projectLink {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    line-height: 14px;
    color: #2A72F8;
}

.projectLinkRow {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.projectStatusRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.projectDate,
.projectStatus {
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
    line-height: 18px;
}