.container {
    display: inline-block;
    padding: 5px;
    box-sizing: border-box;
    width: max-content;
    background: #ffffff;
}

.data {
    display: flex;
    padding: 10px;
    cursor: pointer;
}

.titles {
    padding-left: 10px;
}

.data:active {
    transform: scale(0.95);
}