.verticalMenuContainer {
    display: flex;
    flex-direction: column;
    width: 200px;
}

.verticalMenuItems {
    border-right: none;
    background: transparent;
    flex: 1;
    overflow-y: auto;
    padding: 5px;
}

.verticalMenuItems .ant-menu-item {
    border-radius: 16px;
}

.verticalMenuItems .ant-menu-item-selected {
    background-color: #f0f5ff;
}

.verticalMenuItems .ant-menu-item:hover {
    background-color: #f5f5f5;
}